@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Lato:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: "Lato", serif; */
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#d0d6d9, #b1b4ba);
  color: #d9e2f1;
  min-height: 100vh;
}

.lato {
  font-family: "Lato", serif;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin: 1rem 0;
  letter-spacing: 0.2rem;
  color: #2f4444;
}

input {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.1rem;
  border-radius: 4px;
  border: 1px solid #758a8a;
  background-color: #869999;
  /* #a0b3b3 */
  color: #142020;
}

img {
  border-bottom-right-radius: 50%;
  /* border-bottom-left-radius: 50%; */
  border-bottom: 2px solid #758a8a;
  border-top: none;
  filter: drop-shadow(0 0 4px rgba(31, 42, 42, 0.5));
}

label {
  font-size: 0.8rem;
  color: #9bafaf;
  text-transform: uppercase;
  font-weight: bold;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
  background: #202024;
  border-bottom: 3px solid rgb(106, 106, 106);
  box-shadow: 0 2px 8px rgba(193, 193, 193, 0.8);
  white-space: nowrap;
}

/* select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #758a8a;
  background-color: #869999;
  color: #142020;
} */

/* .button {
  margin: 1rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border-radius: 4px;
  background-color: #147b73;
  border-color: #ccfaf6ad;
  color: #d9e2f1;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(193, 193, 193, 0.8);
} */

/* FLOW BANNER CSS */
.text {
  color: #939597;
  animation: flowing 60s linear infinite;
  transform: translateX(100%);
}
.text span {
  font-family: "Handjet", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}

.text em {
  font-style: normal;
  font-weight: bold;
  color: #00eeff;
}
.text i {
  font-style: normal;
  font-weight: bold;
  color: goldenrod;
}

@keyframes flowing {
  100% {
    transform: translateX(-1400%);
  }
  0% {
    transform: translateX(100%);
  }
}
